body {
  background-color: rgb(53, 49, 49);
  color: aliceblue;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  text-align: center;
}

.container {
  text-align: left;
}

.info-link {
  border: 2px solid green;
  width: 150px;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

a:hover {
  color: brown;
}

.comment {
  color: green;
}
